
body {
    font-family: 'Cairo', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6a1b9a;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}
